@-webkit-keyframes appear {
    0% {
        opacity: 0.5;
        scale: 0.5
    }
    100% {
        opacity: 1;
        scale: 1
    }
}

* {
    transition: all 2ms ease-out;
}

body {
    padding: 0 calc(20px - (100vw - 100%)) 0 0;
}


.container {
    max-width: 1080px;
    margin: auto;
    padding-top: 20px;
    background-color: bisque;
}

.icon {
    content: "";
    display: none;
    width: 1.5rem;
    height: 1.5rem;
    background: center center no-repeat url(img/icons/plus-solid.svg);
}

.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label {
    display: block;
    width: 100%;
    margin: auto;
    color: blue;
    border-top: 2px solid gray;
    font-size: 1rem;
}

label > img {
    display: none;
    margin: auto;
    padding-bottom: 20px;
    width: 50%;
}

.wrapper {
    margin: auto;
    width: 60%;
}

label:hover {
    cursor: pointer;
}

label:active {
    opacity: 0.5;
}

label:active .wrap h2 {
    color: blue;
}

label:hover input[type=radio]:not(:checked) ~ img {
    display: block;
    animation-name: appear;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

.wrapper:hover label {
    color: black;
}

input[type=radio]:checked ~ .wrap {
    color: black;
}

.wrapper:hover .icon {
    display: block;
}

input[type=radio] {
    display: none;
}

input[type=radio]:checked ~ img {
    display: block;
}

input[type=radio]:checked ~ .wrap .icon,
label:hover .icon {
    background-image: url(img/icons/xmark-solid.svg);
}